name: Release
on:
  push:
    tags:
      - "*"

jobs:
  goreleaser:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: stable
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          version: latest
          args: release --clean
        env:
          # for pushing to the homebrew-tap repo
          GITHUB_TOKEN: ${{ secrets.ACCESS_TOKEN }} 
